page-login {
    #forgot-password-button {
        display: flex;
        flex-direction: row;
    }
    #forgot-password-button button{
        flex: 1;
    }
    #sign-in-button {
        display: flex;
        flex-direction: row;
    }
    #sign-in-button button{
        flex: 1;
    }
    #register-button {
        display: flex;
        flex-direction: row;
    }
    #register-button button{
        flex: 1;
    }


}
