<!--
  Generated template for the ViewUniformsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>View Uniforms</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <!--     <ion-header-bar class="bar-stable">
        <h1 class="title">Service Provider Details</h1>
      </ion-header-bar> -->
      <ion-content>
          <ion-grid>
            <ion-row justify-content-center align-items-center>
              <ion-col> <ion-checkbox [(ngModel)]="selectedAll" (ionChange)="allChecked($event)"></ion-checkbox> Select All </ion-col>
              <ion-col> Uniform </ion-col>
              <ion-col> Section </ion-col>
              <ion-col> Jacket </ion-col>
              <ion-col> Sash </ion-col>
              <ion-col> Bibbers </ion-col>
              <ion-col> Shako </ion-col>
              <ion-col> Gloves </ion-col>
              <ion-col> Vest </ion-col>
              <ion-col> Note </ion-col>
            </ion-row>
  
            <!-- <ion-row justify-content-center align-items-center *ngFor="let item of matchlist | async"> -->
            <ion-row justify-content-center align-items-center *ngFor="let item of studentlist">
              <ion-col> <ion-checkbox [(ngModel)]="item.selected" [checked]="selectAll" (ionChange)="checked($event, item)"></ion-checkbox> </ion-col>
              <ion-col *ngIf="item.firstname; else none"> Replace with ID </ion-col>
              <ion-col *ngIf="item.section; else none"> {{item.section}} </ion-col>
              <ion-col *ngIf="item.equipment.Jacket; else none"> {{item.equipment.Jacket.id}} </ion-col>
              <ion-col *ngIf="item.equipment.Sash; else none"> {{item.equipment.Sash.id}} </ion-col>
              <ion-col *ngIf="item.equipment.Pants; else none"> {{item.equipment.Pants.id}} </ion-col>
              <ion-col *ngIf="item.equipment.Shako; else none"> {{item.equipment.Shako.id}} </ion-col>
              <ion-col *ngIf="item.equipment.Gloves; else none"> {{item.equipment.Gloves.id}} </ion-col>
              <ion-col *ngIf="item.equipment.Vest; else none"> {{item.equipment.Vest.id}} </ion-col>
              <ion-col *ngIf="item.note; else none"> {{item.equipment.note}} </ion-col>
              <!-- <ion-col *ngIf="item.equipment && item.equipment.Jacket; else none"> {{item.equipment.Jacket.id}} </ion-col>
              <ion-col *ngIf="item.equipment && item.equipment.Sash; else none"> {{item.equipment.Sash.id}} </ion-col>
              <ion-col *ngIf="item.equipment && item.equipment.Pants; else none"> {{item.equipment.Pants.id}} </ion-col>
              <ion-col *ngIf="item.equipment && item.equipment.Shako; else none"> {{item.equipment.Shako.id}} </ion-col>
              <ion-col *ngIf="item.equipment && item.equipment.Gloves; else none"> {{item.equipment.Gloves.id}} </ion-col>
              <ion-col *ngIf="item.equipment && item.equipment.Vest; else none"> {{item.equipment.Vest.id}} </ion-col>
              <ion-col *ngIf="item.note; else none"> {{item.note}} </ion-col> -->
              <ng-template #none><ion-col> N/A </ion-col></ng-template>
            </ion-row>
          </ion-grid>
      </ion-content>
  
  </ion-content>
