<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="searchLocation" color="primary">
      <ion-segment-button value="student">
        Student
      </ion-segment-button>
      <ion-segment-button value="uniform">
        Uniform
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="searchLocation == 'uniform'">
    <ion-item>
      <ion-label>Choose Uniform Type</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="Gloves">Gloves</ion-option>
        <ion-option value="Jacket">Jacket</ion-option>
        <ion-option value="Pants">Pants</ion-option>
        <ion-option value="Sash">Sash</ion-option>
        <ion-option value="Shako">Shako</ion-option>
        <ion-option value="Vest">Vest</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary">ID</ion-label>
      <ion-input placeholder="Enter Uniform ID" [(ngModel)]="uniformID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Other</ion-label>
      <ion-input placeholder="Other" [(ngModel)]="other"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searchLocation == 'student'">
    <ion-item>
      <ion-label color="primary">First Name</ion-label>
      <ion-input placeholder="First Name" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Last Name</ion-label>
      <ion-input placeholder="Last Name" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">GTID</ion-label>
      <ion-input placeholder="GTID" [(ngModel)]="gtid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Choose Section</ion-label>
      <ion-select [(ngModel)]="section">
        <ion-option value="alto saxophone">Alto Saxophone</ion-option>
        <ion-option value="baritone">Baritone</ion-option>
        <ion-option value="bass drum">Bass Drum</ion-option>
        <ion-option value="clarinet">Clarinet</ion-option>
        <ion-option value="cymbals">Cymbals</ion-option>
        <ion-option value="drum majors">Drum Majors</ion-option>
        <ion-option value="mellophone">Mellophone</ion-option>
        <ion-option value="piccolo">Piccolo</ion-option>
        <ion-option value="ensemble">Pit/Front Ensemble</ion-option>
        <ion-option value="quads">Quads</ion-option>
        <ion-option value="snare">Snare</ion-option>
        <ion-option value="tenor sax">Tenor Sax</ion-option>
        <ion-option value="trombone">Trombone</ion-option>
        <ion-option value="trumpet">Trumpet</ion-option>
        <ion-option value="tuba">Tuba</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Other</ion-label>
      <ion-input placeholder="Other" [(ngModel)]="other"></ion-input>
    </ion-item>
  </ion-list>
  <div id="search-buttons">
    <button ion-button ion-button (click)="backToHome()"> Back to Home </button>

    <button ion-button ion-button (click)="searchClicked()">Search</button>
  </div>

  <!-- <ion-list>
    <br><br>
    <ion-list-header>
        Result of Search
    </ion-list-header>
    <ion-item *ngFor="let result of matchlist">
      <div item>
        <ion-avatar item-start>
          <h1>{{result.firstname}} {{result.lastname}}</h1>
        </ion-avatar>
      </div>
      
      <h2 item>GTID: {{result.gtid}}</h2>
      <h2 item>Email: {{result.email}}</h2>
      <h2 item>Section: {{result.section}}</h2>
      <h2 item>Other: {{result.other}}</h2>
    </ion-item>
  </ion-list>
</ion-content> -->