<ion-header>
  <ion-navbar>
    <ion-title>
      Quick Management
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--     <ion-header-bar class="bar-stable">
      <h1 class="title">Service Provider Details</h1>
    </ion-header-bar> -->
    <ion-content>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col> <ion-checkbox [(ngModel)]="selectAll" (ionChange)="allChecked()"></ion-checkbox> Select All </ion-col>
            <ion-col> First Name </ion-col>
            <ion-col> Last Name </ion-col>
            <ion-col> Email </ion-col>
            <ion-col> Section </ion-col>
            <ion-col> Jacket </ion-col>
            <ion-col> Sash </ion-col>
            <ion-col> Bibbus </ion-col>
            <ion-col> Gloves </ion-col>
            <ion-col> Vest </ion-col>
            <ion-col> Note </ion-col>
          </ion-row>

          <ion-row align-items-center *ngFor="let item of items | async">
            <ion-col> <ion-checkbox [(ngModel)]="item.selected" (ionChange)="checked(item)"></ion-checkbox> </ion-col>
            <ion-col *ngIf="item.firstname; else none"> {{item.firstname}} </ion-col>
            <ion-col *ngIf="item.lastname; else none"> {{item.lastname}} </ion-col>
            <ion-col *ngIf="item.email; else none"> {{item.email}} </ion-col>
            <ion-col *ngIf="item.section; else none"> {{item.section}} </ion-col>
            <ion-col *ngIf="item.jacket; else none"> {{item.jacket.id}} </ion-col>
            <ion-col *ngIf="item.sash; else none"> {{item.sash.id}} </ion-col>
            <ion-col *ngIf="item.bibbus; else none"> {{item.bibbus.id}} </ion-col>
            <ion-col *ngIf="item.gloves; else none"> {{item.gloves.id}} </ion-col>
            <ion-col *ngIf="item.vest; else none"> {{item.vest.id}} </ion-col>
            <ion-col *ngIf="item.note; else none"> {{item.note}} </ion-col>
            <ng-template #none><ion-col> N/A </ion-col></ng-template>
          </ion-row>
        </ion-grid>

    </ion-content>

    <div id = "decisions">
      <ion-list>
        <ion-item>
            <ion-label>Select Action</ion-label>
            <ion-select interface = "popover" [(ngModel)]="action" (ngModelChange)="quickManageSubmit(action)">
              <ion-option value="email">Email selected members</ion-option>
              <ion-option value="uniform">Modify selected uniform status</ion-option>
              <ion-option value="student">Modify selected student information</ion-option>
            </ion-select>
        </ion-item>
            <!-- Using popover doesn't require submit button as it automatically closes overlay and selects that value
            <button ion-button ion-button (click) = "quickManageSubmit(action)"> Submit </button>-->
            <button ion-button ion-button (click) ="backToHome()"> Back to Home </button>
      </ion-list>
    </div>
</ion-content>
