<ion-header>
  <ion-navbar>
    <ion-title>
      Quick Management
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--     <ion-header-bar class="bar-stable">
      <h1 class="title">Service Provider Details</h1>
    </ion-header-bar> -->
    <ion-content>
      <ion-item *ngFor="let item of items | async">
          <ion-label *ngIf="item.firstname; else none"> {{item.firstname}} {{item.lastname}} {{item.section}}</ion-label>
          <ion-checkbox (ionChange)="checked($event, item)"></ion-checkbox>
      </ion-item>
        <!-- <ion-grid>
          <ion-row justify-content-center align-items-center>
            <ion-col> <ion-checkbox [(ngModel)]="selectedAll" (ionChange)="allChecked($event)"></ion-checkbox> Select All </ion-col>
            <ion-col> First Name </ion-col>
            <ion-col> Last Name </ion-col>
            <ion-col> Email </ion-col>
            <ion-col> Section </ion-col>
            <ion-col> Jacket </ion-col>
            <ion-col> Sash </ion-col>
            <ion-col> Bibbers </ion-col>
            <ion-col> Shako </ion-col>
            <ion-col> Gloves </ion-col>
            <ion-col> Vest </ion-col>
            <ion-col> Note </ion-col>
          </ion-row>

          <ion-row justify-content-center align-items-center *ngFor="let item of matchlist | async">
          <ion-row justify-content-center align-items-center *ngFor="let item of matchlist">
            <ion-col> <ion-checkbox [(ngModel)]="item.selected" [checked]="selectAll" (ionChange)="checked(item)"></ion-checkbox> </ion-col>
            <ion-col *ngIf="item.firstname; else none"> {{item.firstname}} </ion-col>
            <ion-col *ngIf="item.lastname; else none"> {{item.lastname}} </ion-col>
            <ion-col *ngIf="item.email; else none"> {{item.email}} </ion-col>
            <ion-col *ngIf="item.section; else none"> {{item.section}} </ion-col>
            <ion-col *ngIf="item.equipment.Jacket; else none"> {{item.equipment.Jacket.id}} </ion-col>
            <ion-col *ngIf="item.equipment.Sash; else none"> {{item.equipment.Sash.id}} </ion-col>
            <ion-col *ngIf="item.equipment.Bibbles; else none"> {{item.equipment.Bibbles.id}} </ion-col>
            <ion-col *ngIf="item.equipment.Shako; else none"> {{item.equipment.Shako.id}} </ion-col>
            <ion-col *ngIf="item.equipment.Gloves; else none"> {{item.equipment.Gloves.id}} </ion-col>
            <ion-col *ngIf="item.equipment.Vest; else none"> {{item.equipment.Vest.id}} </ion-col>
            <ion-col *ngIf="item.note; else none"> {{item.equipment.note}} </ion-col>
            <ion-col *ngIf="item.equipment && item.equipment.Jacket; else none"> {{item.equipment.Jacket.id}} </ion-col>
            <ion-col *ngIf="item.equipment && item.equipment.Sash; else none"> {{item.equipment.Sash.id}} </ion-col>
            <ion-col *ngIf="item.equipment && item.equipment.Pants; else none"> {{item.equipment.Pants.id}} </ion-col>
            <ion-col *ngIf="item.equipment && item.equipment.Shako; else none"> {{item.equipment.Shako.id}} </ion-col>
            <ion-col *ngIf="item.equipment && item.equipment.Gloves; else none"> {{item.equipment.Gloves.id}} </ion-col>
            <ion-col *ngIf="item.equipment && item.equipment.Vest; else none"> {{item.equipment.Vest.id}} </ion-col>
            <ion-col *ngIf="item.note; else none"> {{item.note}} </ion-col>
            <ng-template #none><ion-col> N/A </ion-col></ng-template>
          </ion-row> -->

    </ion-content>
    <ion-footer>
    <div id = "decisions">
      <ion-list>
        <ion-item>
            <ion-label>Select Action</ion-label>
            <ion-select interface = "popover" [(ngModel)]="action" (ngModelChange)="quickManageSubmit(action);">
              <ion-option value="email">Email selected members</ion-option>
              <ion-option value="uniform">Modify selected uniform status</ion-option>
              <ion-option value="student">Modify selected student information</ion-option>
            </ion-select>
        </ion-item>
            <!-- Using popover doesn't require submit button as it automatically closes overlay and selects that value
            <button ion-button ion-button (click) = "quickManageSubmit(action)"> Submit </button>-->
      </ion-list>
    </div>
  </ion-footer>
</ion-content>
